<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projects</title>
    <link rel="stylesheet" href="projects.css">
</head>
<div class="projects-container">
    <div class="project-card">
        <div class="project-image">
            <img src="images-icons/Screenshot (12).png" alt="Project Image">
        </div>
        <div class="project-details">
            <div class="project-number">0</div>
            <div class="project-description">
                <h3>Planty</h3>
                <p>Planty is a fullstack e-commerce web application for plant enthusiasts. Username: Samwise Password: 1234</p>
            </div>
        </div>
        <a href="http://3.18.197.196:8080/Planty" target="_blank" class="project-button">Visit Project</a>
    </div>
</div>

<div class="projects-container">
    <div class="project-card">
        <div class="project-image">
            <img src="images-icons/Screenshot (14).png" alt="Project Image">
        </div>
        <div class="project-details">
            <div class="project-number">1</div>
            <div class="project-description">
                <h3>Park Pals</h3>
                <p>Park Pals is a social media site for National Park enthusiasts. Username: Admin Password: 123</p>
            </div>
        </div>
        <a href="http://3.18.197.196:8080/ParkPals" target="_blank" class="project-button">Visit Project</a>
    </div>
</div>

<div class="projects-container">
    <div class="project-card">
        <div class="project-image">
            <img src="images-icons/Screenshot (13).png" alt="Project Image">
        </div>
        <div class="project-details">
            <div class="project-number">2</div>
            <div class="project-description">
                <h3>Pet Schedule</h3>
                <p>EventTracker is a web application for keeping track of my TODOs for my Chow Chow, Milo</p>
            </div>
        </div>
        <a href="http://3.18.197.196:8080/MiloSchedule/indexStatic.html" target="_blank" class="project-button">Visit Project</a>
    </div>
</div>


